﻿@page "{id}"
@model DetailsModel
@{
    ViewData["Title"] = "Product details";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr><td>Title</td><td>@Model.Product.Title</td></tr>
    <tr><td>Description</td><td>@Model.Product.Description</td></tr>
    <tr><td>Specifications</td><td>@Model.Product.Specifications</td></tr>
    <tr><td>Image</td><td>@Model.Product.ImagePath</td></tr>
    <tr><td>Price</td><td>@Model.Product.Price &#128;</td></tr>
    <tr><td>Availability</td><td>@Model.Product.Availability</td></tr>
</table>

