﻿@page
@model IndexModel
@{
    ViewData["Title"] = "All Products";
}

<h2>@ViewData["Title"]</h2>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort">Price</a>
            </th>
            <th>
            <a asp-page="./Index" asp-route-sortOrder="@Model.PopularSort">Popularity</a></th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
        <tr>
            
                <td>@p.Title</td>
                <td>@p.Description</td>
                <td>@p.Price</td>
                <td>@p.Popularity</td>
                <td><a asp-page="Details" asp-route-id="@p.Id">Details</a></td>            
        </tr>
        }
    </tbody>

</table>